
.menu {
}
.menu li {
    float:left;
    font-width:bold;
}
nav a {
    color:#ecf0f1;
    display: block;
    padding: 0 2rem;
    text-decoration: none;
    line-height:6rem;
}
.menu a:hover {
    background-color: #2980b9;
}
#pull{
    display:none;
    width:6rem;
    font: 3rem FontAwesome;
    line-height: 6.5rem;
    padding:0;
}
#pull:after{
    content: "\f0c9"; 
}

@media only screen and (max-width : 480px) {  
    .menu {
		display: none;
		height: auto;
        -overflow: hidden;
    }
    .menu li {
        float:none;
    }
    #pull{
        display:block;
    }
    /*.menu:after {
        content: 'popop';
        font-size: 4rem;
        color:red;
        display: block;
        width:6rem;
        height:6rem;
        border:1px solid red;
    }    */
    
    /*nav a#pull:after {  
        content: '/f0c9';  
        content: '='; 
        width: 30px;  
        height: 30px;  
        display: inline-block;  
        position: absolute;  
        rightright: 15px;  
        top: 10px;  
    }  */
}  