@import url(//fonts.googleapis.com/css?family=Open+Sans&subset=latin,cyrillic);
@import url(grid.css);
@import url(menu.css);

html {
    font-size: 10px;
}

body {
    font-size:1.6rem;
    font-family: "Open Sans", sans-serif;
}
/*.wrapper {
    max-width: 96rem;
    margin:0 auto;
}*/

img {
    width:100%;
    height:auto;
}
h1,h2,h3,h4,h5,h6 {
    margin:2rem;
}
p {
    margin:1rem auto;
    line-height: 2.5rem;
    max-width:900px;
}
h2 {
    font-size:3rem;
}

header {
    background: #3498db;                                                
    -height:6rem;
}

.search {
    margin: auto;
    height:4rem;
}

.search {
    margin-top:1.4rem;
}
.search input {
    border: 0.1rem solid #ecf0f1;
    float:left;
    font-size: 1.4rem;
    padding: 0.5rem;
    height: 3rem;
    width: calc(100% - 4rem); 
}
.search button {
    border:0;
    float:left;
    font-size: 1.6rem;
    padding: 0.5rem;
    height: 3rem; 
    width: 4rem;
}

.slider {
    background: url(http://lorempixel.com/640/480/cats) center no-repeat;
    background-size: cover;
    height:40vh;
}
.slider-wrapper {
    margin:2rem 0;
}

.pano {
    height:20vh;
    font-size: 4rem;
    line-height: 20vh;
    font-weight: bold;
    text-align: center;
    color: #fff;
}
.yellow {
    background: #f39c12;
}
.blue {
    background: #2980b9;
}

.four-div {
    border:0.1rem solid lightgray;
    height:100%;
    margin:1%;
    padding:1%;
    text-align:center;
}
.four-div .four-titl {
    font-size:2rem;
}
.four-div .fa {
    font-size:4rem;
    padding:0.5rem;
}





/*подвал*/
footer {
    padding-top:10px;
    border-top: 1px solid #EEE;
    color:gray;
    margin-top:20px;
    clear: both;
}
