@import url(//fonts.googleapis.com/css?family=Open+Sans&subset=latin,cyrillic);
@import url('grid.css');

body {
    font-family: "Open Sans", sans-serif;
}

.img img {
    width:100%;
    height:auto;
}

/*табличка*/
.form-row {
    margin-bottom: calc(10% - 70px);
}
.form-row label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-row .form-input input,
.form-row .form-input textarea
{
    border: 1px solid #999;
    padding: 5px;
    width: 100%;
}

.form-row .form-button-group {
    
}

/*менюшечка*/
nav {
    display: inline-block;
    background:tomato;
    width:100%;
}
.menu {
    background:tomato;
    /*overflow: hidden;*/
}
.menu,
.menu ul {
    margin:0;
    padding:0;
    list-style: none;
}
.menu > li {
    float:left;
    position: relative;
    background:#ccc;
    width:auto;
}
.menu a {
    display: block;
    background: tomato;
    padding:10px;
    text-decoration:none;
    color: #fff;
}
.menu a:hover {
    background-color: red;
}

.menu li ul {
    display:none; 
    position: absolute;
    z-index:999;
    width:120px;
}
.menu li:hover ul {
    display:block;    
}



/*оверлей*/
.overlay {
    background: rgba(0,0,0,0.6);
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:9999;
    text-align:center;
    display:none;
}

.modal-window {
    background: #fff;
    color:#333;
    width:60%;
    /*margin:0 auto;*/
    padding:2%;
    display: inline-block;
    vertical-align:middle;
    text-align:left;
}

.va-helper {
    display: inline-block;
    height:100%;
    vertical-align:middle;
}

.window-state {
    display: none;
}

.window-state:checked + .overlay {
    display: block;
}
.link {
    cursor: pointer;
    color: blue;
    text-decoration:underline;
}



