{{>header}}



    <h1>Мини-чатик</h1>
    <div id="contener">

        <div class="row">
            <nav>
            <ul class="menu">
                <li>
                    <a href="index.html">Титульная</a>
                </li>
                <li>    
                    <a href="#">Уроки</a>
                    <ul>
                        <li>
                            <a href="/index1.html">Фронт</a>
                        </li>
                        <li>
                            <a href="/index2.html">Бэк</a>
                        </li>
                        <li>
                            <a href="/index3.html">Веб дизинг</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">О нас</a>
                    <ul>
                        <li>
                            <a href="#">Кто</a>
                        </li>
                        <li>
                            <a href="#">Где</a>
                        </li>
                        <li>
                            <a href="#">Когда</a>
                        </li>
                    </ul>
                </li>
            </ul>
            </nav>
        </div>
        

		<div class="row">

      <h2 class="sub-header">Пользователи чата</h2>
      <div class="table-responsive">
        <table class="table table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>Имя</th>
                <th>Фамилия</th>
                <th>Возраст</th>
                <th>Login</th>
                <th>Password</th>
              </tr>
            </thead>
            <tbody>
              {{#lusers}}
              <tr>
                <td>{{id_user}}</td>
                <td>{{name}}</td>
                <td>{{family}}</td>
                <td>{{age}}</td>
                <td>{{login}}</td>
                <td>{{password}}</td>
              </tr>
              {{/lusers}}
            </tbody>
          </table>
      </div>
        </div>



		<div class="row">
        
			<div class="col-md-6 col-lg-4">
                <p>Если вы готовы создать прекрасное, то нажмите вот <label class="link" for="window-callback-state">сюда</label>.</p>
			</div>
            
			<div class="col-md-6 col-lg-4">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem illum perferendis esse, minima numquam magni eligendi rem ipsum, inventore ducimus dolorem est, doloremque ut, itaque laborum molestiae vero officiis eius.</p>
			    <div class="img">
                    <img src=http://lorempixel.com/640/480/>
                </div>
			</div>
            
			<div class="col-md-6 col-lg-4">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo quaerat eius dolor necessitatibus. Iste dolorum ipsam, voluptate aliquam reprehenderit recusandae ullam pariatur minima suscipit, inventore placeat quae repudiandae maiores accusamus?</p>
			    <div class="img">
                    <img src=http://lorempixel.com/640/480/cats>
                </div>
            </div>
		
        </div>


    </div>

{{>footer}}
